.general {
  display: flex;
}
.general div {
  flex: 1;
}

.main {
  margin-top: 5em;
  width: 50%;
}

.title {
  font-size: 1.6em;
}

.appointment {
  border: 1px solid var(--light-gray-color);
  padding: .4em 0 .4em .5em;
  border-radius: 4px;
}
#general {
  width: 900px;
  height: 800px;
}
