*{
  margin: 0;
  padding: 0;

}
h1 {
  display: inline-block;
  font-family:serif;
  font-size: 70px;
  align-items:flex-start;


}
.initial{
  display: flex;
  background-color:  #34a853;
  justify-content: space-around;
}

.Log-img{
  height: 55px;
  width: 75px;
  border-radius: 60%;
  padding:0px;
  margin:5px;
  border: 5px solid #fbbc05;

  }
.menu ul{
  display: flex;
  background-color:wh;
  justify-content:space-around;
}
.menu li a {
  text-decoration: none;
  font-family: serif;
  font-size: 25px;
}

footer{
  background-color: grey;
}
.wrapper{
  background-color:  #fbbc05;
  display: flex;
  justify-content: center;
}

#btn-menu{
  display: none;

}
header label {
  display: block;
  width: 30px;
  height: 30px;
  padding: 10px;
}
.menu img{
  display: block;
  width: 40px;
  height: 40px;
}
.Services img{
  display: block;
  border: 5px solid #34a853;
  height: 130px;
  width: 240px;
}
