h2 {
  font-size: 2.5em;
  text-align: center;
  font-family:sans-serif;
  margin:15px;
  /* background-color: #4285f4; */
}
.services div{
  display: flex;
  justify-content:space-around;
  margin: auto;
  padding: 2px ;
  /* background-color: #5bc0de; */
}
.services img{
  /* display: block;
  border: 5px solid #34a853; */
  height: 150px;
  width: 260px;
  margin: 5px;

  justify-content: center;
}
.services p{
  margin: 10px;
  letter-spacing: normal;
  padding: 15px;
  justify-content: space-around;
  font-size: 1.5em;
}
ul li a{
  text-decoration: none;
  font-size: 20px;

}
