{
    "extends": "airbnb-base",
    "parser": "babel-eslint",
    "rules": {
        "indent": ["error", 2],
        "strict": off,
        "no-alert": off,
        "no-console": off,
        "func-names": off,
    }
}
