<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agregar cita</title>
    <link rel="icon" href="../../img/favicon.ico">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/library.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/index.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/header.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/login.css"/>
    <link rel="stylesheet" href="../../../node_modules/font-awesome/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Frank+Ruhl+Libre|Poppins|Quicksand" rel="stylesheet">
    </head>
  <body>
    <header>
        <div class="column is-1-desktop is-11-mobile is-multiline is-flex logo">
          <a href="index.html"><img src="../../img/logo.png" alt="Logo" class="logo"></a>
        </div>
        <button class="menuicon column is-1-mobile" type="button" id="toggleMenu"><i class="fa fa-bars"></i></button>
        <div class="column is-11-desktop is-multiline drop-list">
          <ul class="horizontal-list menu">
            <li><a href="views/aboutUs.html">Nosotros</a></li>
            <li><a href="views/services.html">Servicios</a></li>
            <li><a href="views/addAppointment.html">¡Agenda tu Cita!</a></li>
            <li><a href="views/login.html" id="session">Iniciar Sesión</a></li>
            <li class="hidden"><a href="views/admin/index.html" id="role">Panel Administrativo</a></li>
            <li class="hidden"><button class="btn btn-orange" id="logout">Sign Out</button></li>
          </ul>
        </div>
      </header>
    <div class="menures" id="menuResponsive">
      <ul>
        <li><a href="../../views/aboutUs.html">Nosotros</a></li>
        <li><a href="../../views/services.html">Servicios</a></li>
        <li><a href="../../views/appointment/add.html">¡Agenda tu Cita!</a></li> <!-- verificar esto!! -->
        <li><a href="../../views/login.html"id="session">Iniciar Sesión</a></li>

      </ul>
    </div>

    <div class="main">
      <h1 class="column is-6-desktop is-offset-3-desktop is-12-mobile title is-center">Citas</h1>

      <form class="column is-6-desktop is-offset-3-desktop is-10-mobile is-offset-1-mobile login is-center" method="post">
        <h2 class="column is-8-desktop is-offset-2-desktop is-12-mobile is-center">Agenda una cita</h2>

        <div class="column is-10-desktop is-10-mobile is-multiline is-center is-1-offset-desktop">
          <label for="service" class="column is-12-desktop is-12-mobile">Servicio</label>
          <select class="column is-12-desktop is-10-mobile is-1-offset-desktop " id="txtService" name="service" required>
          <option value="">Selecciona una opcion</option>
          <option value="1">Electroacupuntura</option>
          <option value="2">Electrocelulipolisis</option>
          <option value="3">Consulta por enfermedad</option>
          <option value="4">Control de peso</option>
          <option value="5">Homeopatía</option>
          <option value="6">Mesoterapia</option>
          <option value="7">Control de peso con acupuntura</option>
          <option value="8">Rejuvenecimiento facial con acupuntura</option>
          <option value="9">Lifting de glúteos</option>
          <option value="10">Lifting de senos</option>
          </select>
        </div>

        <div class="column is-10-desktop is-flex is-offset-1-desktop">

        <div class="column is-7-desktop is-7-mobile is-multiline">
          <label for="date" class="column is-12-desktop is-12-mobile">Fecha</label>
          <input class="column is-12-desktop is-12-mobile" id="txtDate" type="date" name="date" data-rule="date" required>
        </div>

        <div class="column is-4-desktop is-4-mobile is-multiline is-offset-1-desktop">
        <label for="hour" class="column is-12-desktop is-12-mobile">Hora</label>
        <input id="txtHour" type="time" name="hour" value="" data-rule="hour" required>
        </div>
        </div>

        <button data-type="submit" name="button" class="btn btn-blue" data-method="appointmentAdd" type="button" >Agregar</button>

      </form>
      <div class="column is-6-desktop is-offset-3-desktop is-10-mobile is-offset-1-mobile login new-register is-center">
        <a href="../../views/appointment/list.html" class="btn-link">Citas</a>
      </div>
    </div>
    <footer>
      <div class="column is-12-desktop is-center">
        <span>Derechos Reservados para Peso y Salud</span>
        <a href="../views/cookies.html">Cookies</a>
      </div>
    </footer>
    <script src="../../js/addAppointment.js" type="module"></script>
    <script src="../../js/validator.js"></script>
    <script src="../../js/home.js" type="module"></script>
    <script src="../../js/addAppointment.js" type="module"></script>
  </body>
</html>
