<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agregar cita</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/library.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/login.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>

  <body>
    <div class="main">
      <h1 class="column is-3-desktop is-offset-5-desktop is-12-mobile title is-center">Citas</h1>

      <form class="column is-3-desktop is-offset-5-desktop is-10-mobile is-offset-1-mobile login is-center" method="post">
        <h2 class="column is-8-desktop is-offset-2-desktop is-12-mobile is-center">Editar cita</h2>

        <div class="column is-12-desktop is-12-mobile is-multiline is-center">
          <label for="status" class="column is-12-desktop is-12-mobile">Estatus</label>
          <select id="txtStatus"  name="status" required>
          <option value="active">Activo</option>
          <option value="inactive">Inactivo</option>
          </select>
        </div>
        <button type="button" name="button" class="btn btn-blue" data-type="submit" data-method="appointmentEdit">Agregar</button>

      </form>
      </div>
    <script src="../../js/validator.js"></script>
  </body>
</html>
