header{
  background-color: var(--green-color);
  height: 5em;
  width: 100%;
  padding: 0px, 10px;
  display: flex;
  line-height: 5em;
  border-radius: 4px;
}

footer {
  background-color: var(--light-gray-color);
  height: 3em;
  width: 100%;
  padding: 0px, 10px;
  display: inline-block;
  color: black;
  border-radius: 4px;
}

footer a {
  text-decoration: none;
  color: black;
  margin-left: 1.5em;
}

footer a:hover {
  background: var(--gray-color);
}

.logo{
  height: 4.2em;
  margin-left: 1em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.quote p {
  text-align: right;
  font-style: italic;
  margin: 0px;
}

.author-quote {
  font-weight: bold;
}

header div .is-multiline{
  height: 100%
}

.menu li{
  margin: 0px 30px 10px 0px;
}

.menu a {
  color: white;
}

p {
  margin: 10px 0px 10px 20px;
}

.nutricion img {
  width: 60%;
}

.servicios img {
  width: 80%;
}

.servicios {
  padding: 0px 20px;
}

.servicios > div {
  background-color: #e0ffd5;
  border-radius: 1em;
  border: 1px solid #488a00;
}

.pierde-peso h3{
  text-align: center;
}

.pierde-peso img{
  width: 75%;
}

.mision-back {
  background-image: url("../img/BackgroudMission.jpg");
  padding: 10px 0px;
  border-radius: 4px;
}

.mision {
  background-color: #FFFFFF;
  opacity: 0.7;
  border: 1px solid #488a00;
  filter: alpha(opacity=60);
  border-radius: .8em;
}

.mision h3 {
  font-weight: bold;
  color: #000;
}

form {
  border: 1px solid var(--light-gray-color);
  padding: .4em 0 .4em .5em;
  border-radius: 4px;
}

.maps {
  border-radius: 4px;
}

img {
  border-radius: 4px;
}

.pys-slider {
  background-color: #e0ffd5;
  border-radius: 4px;
}

.slider {
  padding-bottom: 3em !important;
}

.slider h2 {
  margin: 2em 0 1.5em 0;
  font-size: 2em;
}

.slider img {
  height: 17em;
}

.menuicon {
  display: none;
}

.menures {
  display: none;
}

.menures ul {
  background-color: var(--light-gray-color);
  z-index: 10;
}

.menures li {
  list-style: none;
}

.menures a {
  text-align: center;
  text-decoration: none;
  color: var(--green-color);
  display: block;
  padding: 0.5em;
  font-weight: bold;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .menures {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  header, footer {
    border-radius: 4px;
  }

  .contact-form {
    margin-left: 18% !important;
  }

  .drop-list {
    display: none;
  }
  .menuicon {
    display: inline-block;
    text-align: right;
  }
  .menures {

  }
  .logo {
    text-align: center;
  }
  .title1 {
    text-align: justify;
    font-size: 16px;
  }
  .what-is-nutrition {
    margin: 0;
    text-align: justify;
  }
  .quote p, .pierde-peso h4, .pierde-peso p {
    text-align: justify;
  }
  .nutricion img, .pierde-peso img {
    border-radius: 4px;
  }
  .maps {
    max-width: 100%;
    border-radius: 4px;
  }
  .slider {
    max-width: 100%;
  }
  #prev {
    left: 0em !important;
    z-index: 10 !important;
  }
  #next {
    right: 0em !important;
    z-index: 10 !important;
  }
}
