.main {
  margin-top: 3em;
}

.title {
  font-size: 1.8em;
}

.login {
  border: 1px solid var(--light-gray-color);
  padding: .4em 0 .4em .5em;
  border-radius: 4px;
}

.new-register {
  margin-top: 1em;
  height: 2.2em;
  line-height: 2.2em;
}
