<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>medicalRecords</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/library.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/medicalRecords.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
  <body>
    <div class="main" >
      <h1 class="column is-8-desktop is-offset-2-desktop is-12-mobile title is-center">Crear expediente</h1>
      <label for=""class="column is-2-desktop is-offset-5-desktop is-12-mobile is-center">Paciente</label>
      <label for="" class="column is-2-desktop is-offset-5-desktop is-12-mobile is-center">Cita</label>
      <label for="" class="column is-2-desktop is-offset-5-desktop is-12-mobile is-center">Servicios</label>
      <form class="column is-6-desktop is-offset-3-desktop is-10-mobile is-offset-1-mobile records" action="index.html" method="post">
        <div class="is-multiline column is-12-desktop">
          <div class="is-multiline column is-6-desktop">
            <label for="weight" class="column is-11-desktop">Peso</label>
            <input class="column is-11-desktop" type="text" name="weight" value="">
          </div>
          <div class="is-multiline column is-6-desktop">
            <label for="bust" class="column is-11-desktop">Busto</label>
            <input class="column is-11-desktop" type="text" name="bust" value="" data-rule="word" required>
          </div>
        </div>
        <div class="is-multiline column is-12-desktop">
          <div class="is-multiline column is-6-desktop">
            <label for="waist" class="column is-11-desktop">Talle</label>
            <input class="column is-11-desktop" type="text" name="waist" value="" data-rule="word" required>
          </div>
          <div class="is-multiline column is-6-desktop">
            <label for="waistline" class="column is-11-desktop">Cintura</label>
            <input class="column is-11-desktop" type="text" name="waistline" value=""data-rule="word" required>
          </div>
        </div>
        <div class="is-multiline column is-12-desktop">
          <div class="is-multiline column is-6-desktop">
            <label for="hip" class="column is-11-desktop">Cadera</label>
            <input class="column is-11-desktop" type="text" name="hip" value="" data-rule="word" required>
          </div>
          <div class="is-multiline column is-6-desktop">
            <label for="chest" class="column is-11-desktop">Thorax</label>
            <input class="column is-11-desktop" type="text" name="chest" value="" data-rule="word" required>
          </div>
        </div>
        <div class="is-multiline column is-12-desktop">
          <div class="is-multiline column is-6-desktop">
            <label for="abdomen" class="column is-11-desktop">Abdomen</label>
            <input class="column is-11-desktop" type="text" name="abdomen" value="" data-rule="word" required>
          </div>
          <div class="is-multiline column is-6-desktop">
            <label for="diet" class="column is-11-desktop">Dieta</label>
            <input class="column is-11-desktop" type="text" name="diet" value="" data-rule="word" required>
          </div>
        </div>
      </form>
      <form class="column is-6-desktop is-offset-3-desktop is-10-mobile is-offset-1-mobile records" action="index.html" method="post">
        <div class="column is-12-desktop">
          <div class="column is-12-desktop">
            <label for="symptom" class="column is-11-desktop">Sintomas</label>
            <input class="column is-11-desktop" type="text" name="symptom" value="" data-rule="word" required>
          </div>
          <div class="column is-12-desktop">
            <label for="comments" class="column is-11-desktop">Comentarios</label>
            <input class="column is-11-desktop" type="text" name="comments" value="" data-rule="word" required>
          </div>
        </div>

      </form>
      <form class="column is-6-desktop is-offset-3-desktop is-10-mobile is-offset-1-mobile records" action="index.html" method="post">
        <div class="is-multiline column is-12-desktop">
          <div class="is-multiline column is-6-desktop">
            <label for="i-high" class="column is-11-desktop">Abdomen alto INICIAL</label>
            <input class="column is-11-desktop" type="text" name="i-high" value="" data-rule="number" required>
          </div>
          <div class="is-multiline column is-6-desktop">
            <label for="f-high" class="column is-11-desktop">Abdomen alto FINAL</label>
            <input class="column is-11-desktop" type="text" name="f-high" value="" data-rule="number" required>
          </div>
        </div>
        <div class="is-multiline column is-12-desktop">
          <div class="is-multiline column is-6-desktop">
            <label for="i-medium" class="column is-11-desktop">Abdomen medio INICIAL</label>
            <input class="column is-11-desktop" type="text" name="i-medium" value="" data-rule="number" required>
          </div>
          <div class="is-multiline column is-6-desktop">
            <label for="f-medium" class="column is-11-desktop">Abdomen medio FINAL</label>
            <input class="column is-11-desktop" type="text" name="f-medium" value="" data-rule="number" required>
          </div>
        </div>
        <div class="is-multiline column is-12-desktop">
          <div class="is-multiline column is-6-desktop">
            <label for="i-low" class="column is-11-desktop">Abdomen bajo INICIAL</label>
            <input class="column is-11-desktop" type="text" name="i-low" value="" data-rule="number" required>
          </div>
          <div class="is-multiline column is-6-desktop">
            <label for="f-low" class="column is-11-desktop">Abdomen bajo FINAL</label>
            <input class="column is-11-desktop" type="text" name="f-low" value="" data-rule="number" required>
          </div>
        </div>
        </form>
        <div class="column is-12-desktop is-offset-5-desktop">
          <button type="button" name="button" class="btn btn-blue is-center" data-type="submit">Registrar</button>
        </div>

    </div>
  </body>
</html>
