<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Login</title>
      <link rel="stylesheet" type="text/css" media="screen" href="../css/library.css"/>
      <link rel="stylesheet" type="text/css" media="screen" href="../css/login.css"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
      <!-- TODO: HEADER -->

      <div class="main">
        <h1 class="column is-3-desktop is-offset-5-desktop is-12-mobile title is-center">Login en Peso y Salud</h1>

        <form class="column is-3-desktop is-offset-5-desktop is-10-mobile is-offset-1-mobile login" action="index.html" method="post">
          <label for="email" class="column is-10-desktop">E-mail</label>
          <input class="column is-8-desktop" type="text" name="email" value="" placeholder="ejemplo@ejemplo.com">
          <label for="password" class="column is-4-desktop is-3-mobile is-multiline">Contraseña</label>
          <a class="column is-8-desktop is-9-mobile is-multiline is-center btn-link" href="#">Olvidaste tu contraseña?</a>
          <input class="column is-8-desktop" type="password" name="password" value="" placeholder="Contraseña">
          <button type="button" name="button" class="btn btn-blue">Login</button>
        </form>

        <div class="column is-3-desktop is-offset-5-desktop is-10-mobile is-offset-1-mobile login new-register is-center">
          <span>Nuevo en Peso y Salud?</span>
          <a href="#" class="btn-link"> Regístrate</a>
        </div>
      </div>

      <!-- TODO: FOOTER -->
   </body>
</html>
