<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/library.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/register.css"/>

    <!-- https://fonts.googleapis.com/css?family=Roboto"-->
  </head>
  <body>
    <header>

    </header>
    <div class="main">
       <h1 class="column is-3-desktop is-offset-5-desktop is-12-mobile title is-center">Crear una cuenta</h1>

       <form class="column is-3-desktop is-offset-5-desktop is-10-mobile is-offset-1-mobile register" action="index.html" method="post">
         <label for="first-name" class="column is-10-desktop">Nombre</label>
         <input class="column is-8-desktop" type="text" name="first-name" placeholder="Nombre">
         <label for="last-name" class="column is-10-desktop">Apellidos</label>
         <input class="column is-8-desktop" type="text" name="last-name" placeholder="Apellidos">
         <label for="email" class="column is-10-desktop">Email</label>
         <input class="column is-8-desktop" type="email" name="email" placeholder="ejemplo@ejemplo.com">
         <label for="password" class="column is-10-desktop">Cotraseña</label>
         <input class="column is-8-desktop" type="password" name="password" placeholder="Contraseña">
         <label for="phone" class="column is-10-desktop">Telefono</label>
         <input class="column is-8-desktop" type="number" name="phone" placeholder="Telefono">
         <label for="heigth" class="column is-10-desktop">Altura</label>
         <input class="column is-8-desktop" type="number" name="heigth" placeholder="Altura">
         <label for="" class="column is-3-desktop is-3-mobile is-multiline">Fecha de nacimiento</label>
         <br>
         <select class="" name="day">
           <option value="">Día</option>
           <option value="1">1</option>
           <option value="2">2</option>
           <option value="3">3</option>
           <option value="4">4</option>
           <option value="5">5</option>
           <option value="6">6</option>
           <option value="7">7</option>
           <option value="8">8</option>
           <option value="9">9</option>
           <option value="10">10</option>
           <option value="11">11</option>
           <option value="12">12</option>
           <option value="13">13</option>
           <option value="14">14</option>
           <option value="15">15</option>
           <option value="16">16</option>
           <option value="17">17</option>
           <option value="18">18</option>
           <option value="19">19</option>
           <option value="20">20</option>
           <option value="21">21</option>
           <option value="22">22</option>
           <option value="23">23</option>
           <option value="24">24</option>
           <option value="25">25</option>
           <option value="26">26</option>
           <option value="27">27</option>
           <option value="28">28</option>
           <option value="29">29</option>
           <option value="30">30</option>
         </select>
         <select class="" name="month">
           <option value="">Mes</option>
           <option value="Ene">Ene</option>
           <option value="Feb">Feb</option>
           <option value="Mar">Mar</option>
           <option value="Abril">Abril</option>
           <option value="May">May</option>
           <option value="Jun">Jun</option>
           <option value="Jul">Jul</option>
           <option value="Agosto">Agosto</option>
           <option value="Sep">Sep</option>
           <option value="Oct">Oct</option>
           <option value="Nov">Nov</option>
           <option value="Dic">Dic</option>
           </select>
         <select class="" name="year">
           <option value="">Año</option>
           <option value="2018">2018</option>
           </select>
          <br>
         <input type="radio" name="genre" value="Female" id="genre-Female">
         <label for="genre-Female">Femenino</label>
         <input type="radio" name="genre" value="Male" id="genre-Male">
         <label for="genre-Male">Masculino</label>
         <br>
         <button type="button" name="button" class="btn btn-blue">Registrarse</button>
      </form>
      </div>
    </main>
    <footer>
      
    </footer>
  </body>
</html>
