.main {
  margin-top: 3em;
}

.title {
  font-size: 1.8em;
  padding: .5em;
  font-family:'Poppins',sans-serif;
  color:var(--green-color);
}
.new-register {
  margin-top: 1em;
  height: 2.2em;
  line-height: 2.2em;
}
/* font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Frank Ruhl Libre', serif;
font-family: 'Cinzel', serif; */
