<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Editar Usuario</title>
      <link rel="stylesheet" type="text/css" media="screen" href="../../css/library.css"/>
      <link rel="stylesheet" type="text/css" media="screen" href="../../css/index.css">
      <link rel="stylesheet" type="text/css" media="screen" href="../../css/header.css"/>
      <link rel="stylesheet" type="text/css" media="screen" href="../../css/login.css"/>
      <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Cinzel|Frank+Ruhl+Libre|Poppins|Quicksand" rel="stylesheet">
    </head>
    <body>
      <header>
        <div class="column is-1-desktop is-11-mobile is-multiline is-flex logo">
          <a href="../../index.html"><img src="../../img/logo.png" alt="Logo" class="logo"></a>
        </div>
        <button class="menuicon column is-1-mobile" type="button" id="toggleMenu"><i class="fa fa-bars"></i></button>
        <div class="column is-11-desktop is-multiline drop-list">
          <ul class="horizontal-list menu">
            <li><a href="../../views/aboutUs.html">Nosotros</a></li>
            <li><a href="../../views/services.html">Servicios</a></li>
            <li><a href="../../views/appointment/add.html">¡Agenda tu Cita!</a></li>
            <li><a href="../../views/login.html" id="session">Iniciar Sesión</a></li>
            <li class="hidden"><a href="../../views/admin/index.html" id="role">Panel Administrativo</a></li>
            <li class="hidden"><button class="btn btn-orange" id="logout">Sign Out</button></li>
          </ul>
        </div>
      </header>
      <div class="menures" id="menuResponsive">
         <ul class="horizontal-list menu">
            <li><a href="../../views/aboutUs.html">Nosotros</a></li>
            <li><a href="../../views/services.html">Servicios</a></li>
            <li><a href="../../views/appointment/add.html">¡Agenda tu Cita!</a></li>
            <li><a href="../../views/login.html" id="session">Iniciar Sesión</a></li>
          </ul>
      </div>
      <div class="main" data-type="userEdit">
        <h1 class="column is-6-desktop is-offset-3-desktop is-12-mobile title is-center">Editar Usuario</h1>

        <form class="column is-6-desktop is-offset-3-desktop is-10-mobile is-offset-1-mobile login" action="index.html" method="post">

          <div class="column is-6-desktop is-multiline">
            <label for="phone" class="column is-10-desktop">Teléfono</label>
            <input type="text" class="column is-8-desktop" name="phone" value="" data-rule="number" required>
          </div>
          <div class="column is-6-desktop is-multiline">
            <label for="height" class="column is-10-desktop">Peso</label>
            <input type="text" class="column is-8-desktop" name="height" value="" data-rule="decimal" required>
          </div>
          <div class="column is-6-desktop is-multiline">
            <label for="coments" class="column is-10-desktop">Comentarios</label>
            <textarea name="coments" class="column is-8-desktop" rows="1" cols="10" placeholder="Escribe algo..." required></textarea>
          </div>
          <div class="column is-6-desktop is-multiline">
            <label for="registeredDate" class="column is-10-desktop">Fecha de Alta</label>
            <input type="date" class="column is-8-desktop" name="registeredDate" value="" data-rule="date">
          </div>
          <button type="button" data-type="submit" name="button" class="btn btn-blue">Guardar</button>
        </form>
      </div>
      <footer>
        <div class="column is-12-desktop is-center">
          <span>Derechos Reservados para Peso y Salud</span>
          <a href="../../views/cookies.html">Cookies</a>
        </div>
      </footer>
      <script src="../../js/events.js"></script>
      <script src="../../js/home.js" type="module"></script>
      <script src="../../js/validator.js"></script>
      <script src="../../js/user.js"></script>
   </body>
</html>
