<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Citas</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/library.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/login.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>

      <div class="main">
        <h1 class="column is-3-desktop is-offset-5-desktop is-12-mobile title is-center">Agenda una cita</h1>

        <form class="column is-3-desktop is-offset-5-desktop is-10-mobile is-offset-1-mobile login is-center" method="post" action="index">

          <div class="column is-12-desktop is-multiline is-12-mobile">
            <label for=""class="column is-12-desktop">Tipo de servicio</label required>
            <select class="column is-8-desktop is-10-mobile is-multiline" name="service">
            <option value="Electroacupuntura">Electroacupuntura</option>
            <option value="Electrocelulipolisis">Electrocelulipolisis</option>
            <option value="Enfermedad">Consulta por enfermedad</option>
            <option value="Peso">Control de peso</option>
            <option value="Homeopatia">Homeopatía</option>
            <option value="Mesoterapia">Mesoterapia</option>
            <option value="peso-acupuntura">Control de peso con acupuntura</option>
            <option value="Rejuvenecimiento">Rejuvenecimiento facial con acupuntura</option>
            <option value="Gluteos">Lifting de glúteos</option>
            <option value="Senos">Lifting de senos</option>
            </select>
          </div>

          <div class="column is-10-desktop is-multiline is-10-mobile">
            <label for=""class="column is-12-desktop ">Fecha</label>
            <input type="date" name="fecha" data-rule="date" required>
          </div>
          <div class="column is-10-desktop is-multiline is-10-mobile">
            <label for=""class="column is-12-desktop">Hora</label>
            <input type="time" name="hour" data-rule="hour" required>
          </div>
          <button type="button" name="add_appointment" class="btn btn-blue"data-type="submit">Hacer cita</button>
          </form>
          <div class="column is-3-desktop is-offset-5-desktop is-10-mobile is-offset-1-mobile login new-register is-center">
            <span>No recuerdas tus citas?</span>
            <a href="#" class="btn-link">Búscalas aqui</a>
          </div>
    </div>

    <script src="../../js/validator.js"></script>

    </body>
</html>
