<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agregar cita</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/library.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/login.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>

  <body>
    <div class="main">
      <h1 class="column is-3-desktop is-offset-5-desktop is-12-mobile title is-center">Citas</h1>

      <form class="column is-3-desktop is-offset-5-desktop is-10-mobile is-offset-1-mobile login is-center" method="post">
        <h2 class="column is-8-desktop is-offset-2-desktop is-12-mobile is-center">Editar cita</h2>

        <div class="column is-12-desktop is-12-mobile is-multiline is-center">
          <label for="service" class="column is-12-desktop is-12-mobile">Servicio</label>
          <select id="txtService" name="service">
          <option value="Electroacupuntura">Electroacupuntura</option>
          <option value="Electrocelulipolisis">Electrocelulipolisis</option>
          <option value="Enfermedad">Consulta por enfermedad</option>
          <option value="Peso">Control de peso</option>
          <option value="Homeopatia">Homeopatía</option>
          <option value="Mesoterapia">Mesoterapia</option>
          <option value="peso-acupuntura">Control de peso con acupuntura</option>
          <option value="Rejuvenecimiento">Rejuvenecimiento facial con acupuntura</option>
          <option value="Gluteos">Lifting de glúteos</option>
          <option value="Senos">Lifting de senos</option>
          </select>
        </div>

        <div class="column is-12-desktop is-12-mobile is-multiline is-center">
          <label for="date" class="column is-12-desktop is-12-mobile">Fecha</label>
          <input id="txtDate" type="date" name="date" data-rule="date" required>
        </div>

        <div class="column is-12-desktop is-12-mobile is-multiline is-center">
        <label for="hour" class="column is-12-desktop is-12-mobile">Hora</label>
        <input id="txtHour" type="time" name="hour" value="" data-rule="hour" required>
        </div>

        <button type="button" name="button" class="btn btn-blue" data-type="submit" data-method="appointmentAdd" >Agregar</button>

      </form>
      <div class="column is-3-desktop is-offset-5-desktop is-10-mobile is-offset-1-mobile login new-register is-center">
        <a href="#" class="btn-link"> Ver lista de dietas</a>
      </div>
    </div>
    <script src="../../js/validator.js"></script>
  </body>
</html>
