<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar citas</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/library.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/login.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
      <div class="main">
        <h1 class="column is-3-desktop is-offset-5-desktop is-12-mobile title is-center">Agenda una cita</h1>
        <form class="column is-3-desktop is-offset-5-desktop is-10-mobile is-offset-1-mobile login is-center" method="post">
          <div class="column is-12-desktop is-multiline is-12-mobile">
            <label for=""class="column is-12-desktop">Estatus</label>
            <select class="column is-8-desktop is-10-mobile is-multiline" name="service">
            <option value="">Elige una opcion</option>
            <option value="active">Activo</option>
            <option value="inactive">Inactivo</option>
            </select>
          </div>
        </form>
        </div>
    </body>
</html>
