<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agregar Expediente</title>
    <link rel="icon" href="../../img/favicon.ico">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/library.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/index.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/header.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/medicalRecords.css"/>
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Frank+Ruhl+Libre|Poppins|Quicksand" rel="stylesheet">
    </head>
  <body>
    <header>
      <div class="column is-1-desktop is-6-mobile is-multiline logo">
          <a href="../../index.html"><img src="../../img/logo.png" alt="Logo" class="logo"></a>
      </div>
      <button class="menuicon column is-1-mobile" type="button" id="toggleMenu"><i class="fa fa-bars"></i></button>
      <div class="column is-offset-5-desktop is-6-desktop is-multiline drop-list">
        <ul class="horizontal-list menu">
          <li><a href="../../views/aboutUs.html">Nosotros</a></li>
          <li><a href="../../views/services.html">Servicios</a></li>
          <li><a href="../../views/appointment/add.html">¡Agenda tu cita!</a></li>
          <li><a href="../../views/login.html">Iniciar Sesión</a></li>
        </ul>
      </div>
    </header>
    <div class="menures" id="menuResponsive">
      <ul>
        <li><a href="../../views/aboutUs.html">Nosotros</a></li>
        <li><a href="../../views/services.html">Servicios</a></li>
        <li><a href="../../views/appointment/add.html">¡Agenda tu Cita!</a></li> <!-- verificar esto!! -->
        <li><a href="../../views/login.html">Iniciar Sesión</a></li>
      </ul>
    </div>
    <div class="main">
      <h1 class="column is-8-desktop is-offset-2-desktop is-12-mobile title is-center">Crear expediente</h1>
      <label for=""class="column is-2-desktop is-offset-5-desktop is-12-mobile is-center">Paciente:</label>
      <label for="" class="column is-2-desktop is-offset-5-desktop is-12-mobile is-center">Cita:</label>
      <label for="" class="column is-2-desktop is-offset-5-desktop is-12-mobile is-center">Servicio:</label>
      <form class="column is-6-desktop is-offset-3-desktop is-10-mobile is-offset-1-mobile records" action="index.html" method="post">
        <div class="is-multiline column is-12-desktop">
          <div class="is-multiline column is-6-desktop">
            <label for="weight" class="column is-11-desktop">Peso</label>
            <input class="column is-11-desktop" type="text" name="weight" value="" data-rule="decimal">
          </div>
          <div class="is-multiline column is-6-desktop">
            <label for="bust" class="column is-11-desktop">Busto</label>
            <input class="column is-11-desktop" type="text" name="bust" value="" data-rule="decimal">
          </div>
        </div>
        <div class="is-multiline column is-12-desktop">
          <div class="is-multiline column is-6-desktop">
            <label for="waist" class="column is-11-desktop">Talle</label>
            <input class="column is-11-desktop" type="text" name="waist" value="" data-rule="decimal">
          </div>
          <div class="is-multiline column is-6-desktop">
            <label for="waistline" class="column is-11-desktop">Cintura</label>
            <input class="column is-11-desktop" type="text" name="waistline" value="" data-rule="decimal">
          </div>
        </div>
        <div class="is-multiline column is-12-desktop">
          <div class="is-multiline column is-6-desktop">
            <label for="hip" class="column is-11-desktop">Cadera</label>
            <input class="column is-11-desktop" type="text" name="hip" value="" data-rule="decimal">
          </div>
          <div class="is-multiline column is-6-desktop">
            <label for="chest" class="column is-11-desktop">Torax</label>
            <input class="column is-11-desktop" type="text" name="chest" value="" data-rule="decimal">
          </div>
        </div>
        <div class="is-multiline column is-12-desktop">
          <div class="is-multiline column is-6-desktop">
            <label for="abdomen" class="column is-11-desktop">Abdomen</label>
            <input class="column is-11-desktop" type="text" name="abdomen" value="" data-rule="decimal"/>
          </div>
          <div class="is-multiline column is-6-desktop">
            <label for="diet" class="column is-11-desktop">Dieta</label>
            <select class="column is-11-desktop" name="diet" required>
              <option value="1">A1</option>
              <option value="2">A2</option>
              <option value="3">A3</option>
              <option value="4">B1</option>
              <option value="5">B2</option>
              <option value="6">M1</option>
            </select>
          </div>
        </div>
        <button type="button" name="button" class="btn btn-blue is-center" data-type="submit">Registrar</button>
      </form>
      <form class="column is-6-desktop is-offset-3-desktop is-10-mobile is-offset-1-mobile records" action="index.html" method="post">
        <div class="column is-12-desktop">
          <div class="column is-12-desktop">
            <label for="symptom" class="column is-11-desktop">Sintomas</label>
            <textarea class="column is-11-desktop" type="text" name="symptom" value="" required></textarea>
          </div>
          <div class="column is-12-desktop">
            <label for="comments" class="column is-11-desktop">Comentarios</label>
            <textarea class="column is-11-desktop" type="text" name="comments" value="" required></textarea>
          </div>
        </div>
        <button type="button" name="name" class="btn btn-blue is-center" data-type="submit">Registrar</button>
      </form>
      <form class="column is-6-desktop is-offset-3-desktop is-10-mobile is-offset-1-mobile records" action="index.html" method="post">
        <div class="is-multiline column is-12-desktop">
          <div class="is-multiline column is-6-desktop">
            <label for="i-high" class="column is-11-desktop">Abdomen alto INICIAL</label>
            <input class="column is-11-desktop" type="text" name="i-high" value="" data-rule="decimal">
          </div>
          <div class="is-multiline column is-6-desktop">
            <label for="f-high" class="column is-11-desktop">Abdomen alto FINAL</label>
            <input class="column is-11-desktop" type="text" name="f-high" value="" data-rule="decimal">
          </div>
        </div>
        <div class="is-multiline column is-12-desktop">
          <div class="is-multiline column is-6-desktop">
            <label for="i-medium" class="column is-11-desktop">Abdomen medio INICIAL</label>
            <input class="column is-11-desktop" type="text" name="i-medium" value="" data-rule="decimal">
          </div>
          <div class="is-multiline column is-6-desktop">
            <label for="f-medium" class="column is-11-desktop">Abdomen medio FINAL</label>
            <input class="column is-11-desktop" type="text" name="f-medium" value="" data-rule="decimal">
          </div>
        </div>
        <div class="is-multiline column is-12-desktop">
          <div class="is-multiline column is-6-desktop">
            <label for="i-low" class="column is-11-desktop">Abdomen bajo INICIAL</label>
            <input class="column is-11-desktop" type="text" name="i-low" value="" data-rule="decimal">
          </div>
          <div class="is-multiline column is-6-desktop">
            <label for="f-low" class="column is-11-desktop">Abdomen bajo FINAL</label>
            <input class="column is-11-desktop" type="text" name="f-low" value="" data-rule="decimal">
          </div>
        </div>
        <button type="button" name="button" class="btn btn-blue is-center" data-type="submit">Registrar</button>
      </form>
      <footer>
        <div class="column is-12-desktop is-center">
          <span>Derechos Reservados para Peso y Salud</span>
          <a href="../views/cookies.html">Cookies</a>
        </div>
      </footer>
    </div>
    <script src="../../js/validator.js"></script>
  </body>
</html>
