<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dietas</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/library.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <div class="main">
      <h1 class="column is-3-desktop is-offset-5-desktop is-12-mobile is-center">Lista de dietas</h1>
      <div class="is-flex">
        <table class="is-center table-responsive" align="center" data-method="dietsGetAll">
          <thead>
            <tr>
              <th>id</th>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Status</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <td>4</td>
            <td>A1</td>
            <td>Cero carbohidratos</td>
            <td>Activo</td>
            <td>
              <a class="btn-action btn-orange" href="#">Editar</a>
            </td>
            </tr>
            <tr>
              <td>2</td>
              <td>A2</td>
              <td>Principalmente carbohidratos</td>
              <td>Activo</td>
              <td>
                <a class="btn-action btn-orange" href="#">Editar</a>
              </td>
            </tr>
          </tbody>
          </table>
          </div>
          <a class="column is-12-desktop is-8-mobile is-multiline is-center btn-link" href="#">Busca una dieta</a>
      </div>
  </body>
</html>
