<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>Lista Servicios</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" media="screen" href="../../css/library.css"/>
      <link rel="stylesheet" type="text/css" media="screen" href="../../css/promotionsAdm.css"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Cinzel|Frank+Ruhl+Libre|Poppins|Quicksand" rel="stylesheet">
    </head>
    <body>

      <div class="main">
        <h1 class="column is-5-desktop is-offset-5-desktop is-12-mobile title">Lista de Servicios</h1>
        <div class="is-flex">
          <table class="is-center table-responsive" align="center" data-method="servicesGetAll">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Duración</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Homeopatia</td>
                <td>djbjdjbj</td>
                <td>123.44</td>
                <td>3</td>
                <td>
                  <a class="btn-action btn-orange" href="./editService.html">Editar</a>
                  <a class="btn-action btn-green" href="#">Activar</a>
                </td>
              </tr>
              <tr>
                <td>Acupuntura</td>
                <td>djbjdjbj</td>
                <td>123.44</td>
                <td>3</td>
                <td>
                  <a class="btn-action btn-orange" href="./editService.html">Editar</a>
                  <a class="btn-action btn-dark-gray" href="#">Desactivar</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


      <!-- TODO: FOOTER -->
   </body>
</html>
