<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nosotros</title>
    <link rel="icon" href="../img/favicon.ico">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/library.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/index.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/header.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/aboutUs.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Frank+Ruhl+Libre|Poppins|Quicksand" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="column is-1-desktop is-11-mobile is-multiline is-flex logo">
        <a href="../index.html"><img src="../img/logo.png" alt="Logo" class="logo"></a>
      </div>
      <button class="menuicon column is-1-mobile" type="button" id="toggleMenu"><i class="fa fa-bars"></i></button>
      <div class="column is-11-desktop is-multiline drop-list">
        <ul class="horizontal-list menu">
          <li><a href="../views/aboutUs.html">Nosotros</a></li>
          <li><a href="../views/services.html">Servicios</a></li>
          <li><a href="../views/appointment/add.html">¡Agenda tu Cita!</a></li>
          <li><a href="../views/login.html">Iniciar Sesión</a></li>
        </ul>
      </div>
    </header>
    <div class="menures" id="menuResponsive">
      <ul>
        <li><a href="../views/aboutUs.html">Nosotros</a></li>
        <li><a href="../views/services.html">Servicios</a></li>
        <li><a href="../views/appointment/add.html">¡Agenda tu Cita!</a></li>
        <li><a href="../views/login.html">Iniciar Sesión</a></li>
      </ul>
    </div>
    <section class="services">
        <h2 class="column is-12-desktop title is-center ">Misión</h2>
          <div class="column is-12-desktop is-12-mobile is-center">
            <div class="text column is-5-desktop is-12-mobile  is-multiline">
              <p>Nuestra Misión es Conectarte con lo que te rodea para permitirte disfrutar
                 en plenitud de tu vida con la energía y motivación que sólo
                 sentirnos bien nos puede dar.</p>
            </div>
            <div class="column is-4-desktop is-12-mobile is-multiline">
              <img src="../img/mision.jpg" alt="mision-img">
            </div>
          </div>
        <h2 class="column is-12-desktop is-12-mobile title is-center">Visión</h2>
          <div class="column is-12-desktop is-12-mobile is-multiline is-center">
            <div class="text column is-5-desktop is-multiline is-12-mobile">
              <p>Nuestra Visión es pertener a la familia de cada uno de nuestros
              clientes, para convertirnos en su consulta más confiable y cercana </p>
             </div>
             <div class="column is-4-desktop is-multiline is-12-mobile ">
              <img src="../img/vision.jpg" alt="vision-img ">
             </div>
          </div>
        <h2 class="column is-12-desktop is-12-mobile title is-center">Nuestros Valores</h2>
          <div class="column is-12-desktop is-12-mobile is-multiline is-center">
            <div class="text column is-5-desktop is-multiline is-12-mobile">
              <p>Los valores que nos representan como organización son : La Responsabilidad
              con que atenderemos cada uno de nuestros casos,La Lealtad con nuestros clientes</p>
            </div>
            <div class="column is-4-desktop is-multiline is-12-mobile">
              <img src="../img/valores.jpg" alt="valores-img">
            </div>
          </div>
    </section>
    <footer>
      <div class="column is-12-desktop is-center">
        <span>Derechos Reservados para Peso y Salud</span>
        <a href="../views/cookies.html">Cookies</a>
      </div>
    </footer>
    <script src="../js/slider.js"></script>
    <script src="../js/events.js"></script>
  </body>
</html>
