<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Cookies</title>
      <link rel="stylesheet" type="text/css" media="screen" href="css/library.css"/>
      <link rel="stylesheet" type="text/css" media="screen" href="css/cookies.css"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
      <!-- TODO: HEADER -->

      <div class="column is-10-desktop is-offset-1-desktop cookies">
        <h1 class="is-center">Descargo de responsabilidad y Cookies</h1>
        <p>
          Las cookies son pequeños archivos de números y letras que transferimos al disco duro de su computadora. Algunas cookies utilizadas en este sitio son esenciales y son necesarias para garantizar que el sitio funcione correctamente, como mantener la imagen de fondo que ve en cada página web.
        </p>
        <p>
          Los servicios contenidos en esta sección permiten al controlador de datos para supervisar y analizar los datos de tráfico y se utilizan para realizar un seguimiento del comportamiento del usuario.
        </p>
        <p>
          Al acceder y usar nuestro sitio web, usted acepta nuestro uso de cookies. Si no está satisfecho con el uso de cookies, se pueden desactivar cambiando la configuración de su navegador. Sin embargo, si desactiva las cookies, ciertas partes de nuestro sitio no estarán disponibles para usted.
        </p>
      </div>
    </body>
</html>
