<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Cookies</title>
      <link rel="icon" href="../img/favicon.ico">
      <link rel="stylesheet" type="text/css" media="screen" href="../css/library.css"/>
      <link rel="stylesheet" type="text/css" media="screen" href="../css/index.css"/>
      <link rel="stylesheet" type="text/css" media="screen" href="../css/header.css"/>
      <link rel="stylesheet" type="text/css" media="screen" href="../css/cookies.css">
      <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Cinzel|Frank+Ruhl+Libre|Poppins|Quicksand" rel="stylesheet">
    </head>
    <body>
      <header>
        <div class="column is-1-desktop is-11-mobile is-multiline is-flex logo">
          <a href="../index.html"><img src="../img/logo.png" alt="Logo" class="logo"></a>
        </div>
        <button class="menuicon column is-1-mobile" type="button" id="toggleMenu"><i class="fa fa-bars"></i></button>
        <div class="column is-11-desktop is-multiline drop-list">
          <ul class="horizontal-list menu">
            <li><a href="../views/aboutUs.html">Nosotros</a></li>
            <li><a href="../views/services.html">Servicios</a></li>
            <li><a href="../views/appointment/add.html">¡Agenda tu Cita!</a></li>
            <li><a href="../views/login.html" id="session">Iniciar Sesión</a></li>
            <li class="hidden"><a href="../views/admin/index.html" id="role">Panel Administrativo</a></li>
            <li class="hidden"><button class="btn btn-orange" id="logout">Sign Out</button></li>
          </ul>
        </div>
      </header>
      <div class="menures" id="menuResponsive">
         <ul class="horizontal-list menu">
            <li><a href="../views/aboutUs.html">Nosotros</a></li>
            <li><a href="../views/services.html">Servicios</a></li>
            <li><a href="../views/appointment/add.html">¡Agenda tu Cita!</a></li>
            <li><a href="../views/login.html" id="session">Iniciar Sesión</a></li>
          </ul>
      </div>
      <div class="column is-10-desktop is-offset-1-desktop cookies">
        <h1 class="is-center">Descargo de responsabilidad y Cookies</h1>
        <p>
          Las cookies son pequeños archivos de números y letras que transferimos al disco duro de su computadora. Algunas cookies utilizadas en este sitio son esenciales y son necesarias para garantizar que el sitio funcione correctamente, como mantener la imagen de fondo que ve en cada página web.
        </p>
        <p>
          Los servicios contenidos en esta sección permiten al controlador de datos para supervisar y analizar los datos de tráfico y se utilizan para realizar un seguimiento del comportamiento del usuario.
        </p>
        <p>
          Al acceder y usar nuestro sitio web, usted acepta nuestro uso de cookies. Si no está satisfecho con el uso de cookies, se pueden desactivar cambiando la configuración de su navegador. Sin embargo, si desactiva las cookies, ciertas partes de nuestro sitio no estarán disponibles para usted.
        </p>
      </div>
      <footer>
        <div class="column is-12-desktop is-center">
          <span>Derechos Reservados para Peso y Salud</span>
          <a href="../views/cookies.html">Cookies</a>
        </div>
      </footer>
      <script src="../js/events.js"></script>
      <script src="../js/home.js" type="module"></script>
    </body>
</html>
