<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Login</title>
      <link rel="icon" href="../img/favicon.ico">
      <link rel="stylesheet" type="text/css" media="screen" href="../css/library.css"/>
      <link rel="stylesheet" type="text/css" media="screen" href="../css/index.css"/>
      <link rel="stylesheet" type="text/css" media="screen" href="../css/header.css"/>
      <link rel="stylesheet" type="text/css" media="screen" href="../css/login.css"/>
      <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Cinzel|Frank+Ruhl+Libre|Poppins|Quicksand" rel="stylesheet">
    </head>
    <body>
      <header>
        <div class="column is-1-desktop is-11-mobile is-multiline is-flex logo">
          <a href="../index.html"><img src="../img/logo.png" alt="Logo" class="logo"></a>
        </div>
        <button class="menuicon column is-1-mobile" type="button" id="toggleMenu"><i class="fa fa-bars"></i></button>
        <div class="column is-11-desktop is-multiline drop-list">
          <ul class="horizontal-list menu">
            <li><a href="../views/aboutUs.html">Nosotros</a></li>
            <li><a href="../views/services.html">Servicios</a></li>
            <li><a href="../views/appointment/add.html">¡Agenda tu Cita!</a></li>
            <li><a href="../views/login.html">Iniciar Sesión</a></li>
          </ul>
        </div>
      </header>
      <div class="menures" id="menuResponsive">
        <ul>
          <li><a href="../views/aboutUs.html">Nosotros</a></li>
          <li><a href="../views/services.html">Servicios</a></li>
          <li><a href="../views/appointment/add.html">¡Agenda tu Cita!</a></li>
          <li><a href="../views/login.html">Iniciar Sesión</a></li>
        </ul>
      </div>
      <div class="main">
        <h1 class="column is-3-desktop is-offset-5-desktop is-12-mobile title is-center">Login en Peso y Salud</h1>
        <form class="column is-3-desktop is-offset-5-desktop is-10-mobile is-offset-1-mobile login" action="index.html" method="post">
          <div class="column is-12-desktop">
            <label for="email" class="column is-10-desktop">E-mail</label>
            <input id="email" class="column is-8-desktop" type="text" name="email" value="" placeholder="ejemplo@ejemplo.com" data-rule="email" required>
          </div>
          <div class="column is-12-desktop">
          <label for="password" class="column is-4-desktop is-3-mobile is-multiline">Contraseña</label>
          <a class="column is-8-desktop is-9-mobile is-multiline is-center btn-link" href="#">Olvidaste tu contraseña?</a>
          <input id="password" class="column is-8-desktop" type="password" name="password" value="" placeholder="Contraseña" data-rule="password" required>
          </div>
          <button type="button" name="button" class="btn btn-blue" data-type="submit">Login</button>
        </form>
        <div class="column is-3-desktop is-offset-5-desktop is-10-mobile is-offset-1-mobile login new-register is-center">
          <span>Nuevo en Peso y Salud?</span>
          <a href="./users/register.html" class="btn-link"> Regístrate</a>
        </div>
      </div>

      <footer>
        <div class="column is-12-desktop is-center">
          <span>Derechos Reservados para Peso y Salud</span>
          <a href="../cookies.html">Cookies</a>
        </div>
      </footer>
      <script src="../js/login.js" type="module"></script>
      <script src="../js/validatorOld.js"></script>
   </body>
</html>
