<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Login</title>
      <link rel="icon" href="../img/favicon.ico">
      <link rel="stylesheet" type="text/css" media="screen" href="../css/library.css"/>
      <link rel="stylesheet" type="text/css" media="screen" href="../css/index.css"/>
      <link rel="stylesheet" type="text/css" media="screen" href="../css/header.css"/>
      <link rel="stylesheet" type="text/css" media="screen" href="../css/login.css"/>
      <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Cinzel|Frank+Ruhl+Libre|Poppins|Quicksand" rel="stylesheet">
    </head>
    <body>
      <header>
        <div class="column is-1-desktop is-11-mobile is-multiline is-flex logo">
          <a href="../index.html"><img src="../img/logo.png" alt="Logo" class="logo"></a>
        </div>
        <button class="menuicon column is-1-mobile" type="button" id="toggleMenu"><i class="fa fa-bars"></i></button>
        <div class="column is-11-desktop is-multiline drop-list">
          <ul class="horizontal-list menu">
            <li><a href="../views/aboutUs.html">Nosotros</a></li>
            <li><a href="../views/services.html">Servicios</a></li>
            <li><a href="../views/appointment/add.html">¡Agenda tu Cita!</a></li>
            <li><a href="../views/login.html" id="session">Iniciar Sesión</a></li>
            <li class="hidden"><a href="../views/admin/index.html" id="role">Panel Administrativo</a></li>
            <li class="hidden"><button class="btn btn-orange" id="logout">Sign Out</button></li>
          </ul>
        </div>
      </header>
      <div class="menures" id="menuResponsive">
         <ul class="horizontal-list menu">
            <li><a href="../views/aboutUs.html">Nosotros</a></li>
            <li><a href="../views/services.html">Servicios</a></li>
            <li><a href="../views/appointment/add.html">¡Agenda tu Cita!</a></li>
            <li><a href="../views/login.html" id="session">Iniciar Sesión</a></li>
          </ul>
      </div>
      <div class="main m-space">
        <!-- <h1 class="column is-3-desktop is-offset-5-desktop is-12-mobile title is-center">Login en Peso y Salud</h1> -->
        <h1 class="column is-6-desktop is-offset-3-desktop is-12-mobile title is-center ">Login en Peso y Salud</h1>
        <form class="column is-6-desktop is-offset-3-desktop is-10-mobile is-offset-1-mobile login" action="index.html" method="post">
          <label for="email" class="column is-4-desktop is-offset-2-desktop">E-mail</label>
          <input class="column is-8-desktop is-offset-2-desktop " type="text" name="email" value="" placeholder="ejemplo@ejemplo.com">
          <label for="password" class="column is-4-desktop is-offset-2-desktop is-3-mobile is-multiline ">Contraseña</label>
          <input class="column  is-8-desktop is-offset-2-desktop " type="password" name="password" value="" placeholder="Contraseña">
          <a class="column is-6-desktop is-offset-2-desktop is-9-mobile is-multiline btn-link " href="#">¿Olvidaste tu contraseña?</a>
          <button type="button"  name="button" class="btn btn-blue is-multiline column is-6-desktop is-offset-3-desktop">Login</button>
        </form>
        <div class="column is-6-desktop is-offset-3-desktop is-10-mobile is-offset-1-mobile login new-register is-center">
          <span>¿Nuevo en Peso y Salud?</span>
          <a href="" class="btn-link"> Regístrate</a>
        </div>
      </div>

      <footer>
        <div class="column is-12-desktop is-center">
          <span>Derechos Reservados para Peso y Salud</span>
          <a href="../cookies.html">Cookies</a>
        </div>
      </footer>
      <script src="../js/login.js" type="module"></script>
      <script src="../js/validatorOld.js"></script>
   </body>
</html>
